<nav th:fragment="mainnav" class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
    <a th:inline="text" class="mdl-navigation__link" href="/news"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">library_books</i>[[${news}]]</a>
    <a th:inline="text" class="mdl-navigation__link" href="/bitservices"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>[[${services}]]</a>
    <a th:inline="text" class="mdl-navigation__link" href="/faucets"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">monetization_on</i>Faucets</a>
    <a th:inline="text" class="mdl-navigation__link" href="/apps"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">android</i>Android Apps</a>
    <a th:inline="text" class="mdl-navigation__link" href="/ptc"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">monetization_on</i>[[${ptc}]]</a>
    <a th:inline="text" class="mdl-navigation__link" href="/wallets"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">account_balance_wallet</i>[[${wallets}]]</a>
    <a th:inline="text" class="mdl-navigation__link" href="/help"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help</i>[[${help}]]</a>
</nav>