<!DOCTYPE HTML>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Açucaradus</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
<link rel="stylesheet" th:href="@{/css/slider.css}" href="../../css/slider.css" ></link>
<link rel="stylesheet" th:href="@{/css/custom.css}" href="../../css/custom.css" ></link>

<link rel="icon" type="image/png" href="../../images/bolo-icon.png" />

</head>
<body>

	<!-- Slider -->
	<div id="slider">
		<div class="slides">
			<div class="slider">
				<div class="legend"></div>
				<div class="content">
					<div class="content-txt">
						<h1>Preço de Inauguração</h1>
						<h2>Experimente! Sabores a partir de R$ 40,00/kg.</h2>
					</div>
				</div>
				<div class="image">
					<img src="../../images/bolos5.jpeg"/>
				</div>
			</div>
			<div class="slider">
				<div class="legend"></div>
				<div class="content">
					<div class="content-txt">
						<h1>Não é rocambole!</h1>
						<h2></h2>
					</div>
				</div>
				<div class="image">
					<img src="../../images/bolos2.jpeg"/>
				</div>
			</div>
			<div class="slider">
				<div class="legend"></div>
				<div class="content">
					<div class="content-txt">
						<h1>O tradicional bolo de rolo de Pernambuco</h1>
						<h2>Lei 13.436/08 reconheu o bolo como patrimônio imaterial de Pernambuco</h2>
					</div>
				</div>
				<div class="image">
					<img src="../../images/bolos3.jpeg"/>
				</div>
			</div>
			<div class="slider">
				<div class="legend"></div>
				<div class="content">
					<div class="content-txt">
						<h1>Combina com tudo</h1>
						<h2>Café da manhã, sobremesa, lanches, aniversário, casamento, bodas...</h2>
					</div>
				</div>
				<div class="image">
					<img src="../../images/bolos4.jpeg"/>
				</div>
			</div>
		</div>
		<div class="switch">
			<ul>
				<li>
					<div class="on"></div>
				</li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	
	<div class="main-content">
	
	<div id="social-netw">
		<a id="inst" href="http://www.instagram.com/acucaradusoficial/"><img src="../../images/instagram.jpg" /></a>
	</div>
	
		<p>De origem portuguesa, o bolo de rolo foi adaptado com o recheio de goiaba, fruta abundante da região pernambucana.</p>
		
		<p>Até hoje é comum polvilhar o bolo com açúcar em sua camada externa, arrematando a apresentação da sobremesa.</p>
		
		<p class="small">Fonte Wikipédia</p>
		
		<table id="price-table" class="table">
			<thead>
			   <tr>
			     <th scope="col">Sabor</th>
			     <th scope="col">Preço (kg)</th>
			     <th scope="col">Disponibilidade</th>
			   </tr>
			 </thead>
			 <tbody>
			    <tr th:each="data, iterstat: ${cakes}">
			     <td th:text="${data.description}" th:id="|td${iterstat.index}|"></td>
			     <td th:text="'R$ '+ ${data.price}" th:id="|td${iterstat.index}|"></td>
			     <td th:text="${data.available} ? 'Disponível' : 'Em breve'" th:id="|td${iterstat.index}"></td>
			  </tr>
			 </tbody>
		</table>
	
		<h3>Gostou?</h3>
		
		<div th:switch="${deviceType}"> 
  			<p th:case="'normal'">Então faça seu pedido pelo WhatsApp (11) 99019-7663 ou ligue	para (11) 4375-1419.</p>
  			<p th:case="'mobile'">Então faça seu pedido pelo <a class="action" href="http://api.whatsapp.com/send?phone=5511990197663">WhatsApp</a> ou ligue	para <a class="action" href="tel:4375-1419">(11) 4375-1419</a>.</p>
		</div>
		
		<p>Se preferir, preencha o formulário abaixo e aguarde nosso contato!</p>
		
		
		<!-- div class="row">
			<div class="col-sm-12">
				<h3>Faça seu Pedido</h3>
			</div>
		</div -->
		
		<form id="order" action="#" th:action="@{/order}" th:object="${order}" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="orderName">Nome</label>
					<input type="text" class="form-control" required="required" id="orderName" name="orderName" placeholder="Nome" th:field="*{customerName}" />
				</div>
				
				<div class="form-group col-md-6">
					<label for="phone">Fone para contato</label>
					<input type="tel" class="form-control" required="required" id="phone" name="phone" placeholder="Telefone" th:field="*{customerPhone}" />
				</div>
				
				<div class="form-group col-md-12">
					<label for="address">Endereço</label>
					<input type="text" class="form-control" id="address" name="address" placeholder="Rua Marte nº 429, Barueri, SP" th:field="*{address}"/>
				</div>
			
				<div class="form-group col-md-6">
					<label for="orderType">Sabor:</label>
					<select class="form-control" id="orderType" name="cakeCode" required="required">
						<option value="0">Selecione...</option>
						<option th:each="cake : ${cakesOrder}" th:value="${cake.code}" th:text="${cake.description}"></option>
					</select>
				</div>
				
				<div class="form-group col-md-6">
					<label for="amount">Quantidade</label>
					<input type="number" class="form-control" required="required" id="amount" name="amount" placeholder="0" value="1" />
				</div>
				<button type="submit" class="btn btn-primary">Enviar</button>
			</div>
		</form>
		
	</div>
	
	<footer>
		<p>Açucaradus &copy; 1997 - 2017</p>
	</footer>

</body>
</html>